doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.5.1/dist/leaflet.css')
  body
    block content
    source(src="javascripts/map.js")
